name: Linux build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  CMAKE_GENERATOR: Ninja Multi-Config
  # CMAKE_GENERATOR: Unix Makefiles

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: apt update && apt install -y build-essential cmake ninja-build && export CMAKE_C_COMPILER=gcc && export CMAKE_CXX_COMPILER=g++

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -G "${{env.CMAKE_GENERATOR}}"

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}